@import '../../../styles/vars';
@import '../../../styles/fonts';

.aside {
	padding: 30px 20px;
	border-radius: 24px;
	background: $text-disabled;
	box-shadow: 5px 20px 20px 0 rgba(188, 188, 188, 0.2);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
